# Firebase Credentials
firebase-adminsdk.json
.env

# Python caching
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/

# Virtual Environment
.venv/
venv/
ENV/
env/

# IDE / Editor config
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db
